# Add a list of pip requirements to be installed for the virtual environment
# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
#
# Examples:
# ###### Requirements without Version Specifiers ######
# nose
# nose-cov
# beautifulsoup4
# 
# ###### Requirements with Version Specifiers ######
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1
# keyring >= 4.1.1            # Minimum version 4.1.1
# coverage != 3.5             # Version Exclusion. Anything except version 3.5
# Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*

# No extra packages currently used